#product {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  text-align: center;
}
#product .price {
  position: absolute;
  left: 10px;
  bottom: 25px;
}

#product img {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  cursor: pointer;
  object-fit: contain;
  padding: 5px;
}

#product .product-tile-bottom {
  width: 100%;
  height: 30%;
}

#product-image-tile {
  box-sizing: border-box;
  width: 100%;
  height: 75%;
  padding: 20px;
}

#product-image-tile .top {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#product-image-tile .top .icon {
  font-size: 4rem;
  cursor: pointer;
}

#product-image-tile .top .icon:hover {
  color: var(--third-color);
}

.image-container {
  height: 80%;
  width: 70%;
  text-align: center;
}

#product-image-tile .top .image-container img {
  height: 100%;
  width: auto;
}

#product-image-tile .bottom {
  height: 20%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#product-image-tile .bottom img {
  height: 90px;
  width: 90px;
}

.active {
  min-height: 150px;
  min-width: 150px;
  filter: blur(0px);
}
