header {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header-top {
  width: 90%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-top h1 {
  cursor: pointer;
}

#header-top nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-bottom {
  width: 100%;
}

.header-nav-tile {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.header-nav-tile:hover {
  color: var(--third-color);
  cursor: pointer;
}

header h1 {
  margin: 0;
  color: white;
}


@media only screen and (max-width: 1228px) {
  #header-top nav {
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  #header-top nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    margin: 0;
    padding: 10px;
    justify-content: space-around;
    background-color: var(--primary-color);
  }

  #header-top {
    display: block;
    text-align: center;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 530px) {
  #header-top nav div p {
    display: none;
  }


}