#search-bar {
  width: 50vw;
  border-radius: 5px;
  height: 4vh;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#search-bar input {
  width: 93%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  font-size: medium;
}

#search-bar button {
  background-color: var(--third-color);
  width: 7%;
  height: 100%;
  border: none;
  padding: 0;
}

#search-bar button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}


@media only screen and (max-width: 1228px) {
  #search-bar {
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  #search-bar {
    width: 65vw;
  }
}

@media only screen and (max-width: 750px) {
  #search-bar {
    width: 75vw;
  }
}

@media only screen and (max-width: 530px) {
  #search-bar {
    width: 95vw;
  }
}