:root {
  --primary-color: rgb(96, 96, 235);
  --secondary-color: rgb(248, 222, 72);
  --third-color: rgb(118, 200, 221);
  --fourth-color: rgb(243, 228, 143);
}

#root {
  z-index: -1;
}

main {
  position: relative;
  box-sizing: border-box;
  top: 17vh;
  height: 78vh;
  padding: 1% 5%;
  overflow: auto;

}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-right: 10px;
}

.loader {
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;
  /* scrollbar width */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.432);
  /* color of the scroll thumb */
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  /* scrollbar background */
}

.cursor {
  cursor: pointer;
}

.cart-btn,
.wish-list-btn {
  font-size: 1.4rem;
  padding: 8px;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  background-color: var(--third-color);
  cursor: pointer;
}

.cart-btn:hover {
  background-color: var(--primary-color);
}

.wish-list-btn {
  background-color: white;
  text-align: center;
  color: inherit;
  border: 1px solid var(--third-color);
}

.wish-list-btn:hover {
  background-color: var(--secondary-color);
}


.info-btn {
  font-size: 1.5rem;
  text-align: center;
}